:root.theme-dark {
  --bg-color: #000028;
  --bg-image: url('../images/cover-image-dark.png');
  --accent-color: #ff0070;
  --accent-color-transparent: rgb(255 0 112 / 0.4);
  --decor-color: #ff0070;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --section-title-color: #ff0070;
  --title-decor-bg: #ff0070;
  --title-decor-color: #000028;
}

.theme-dark .header__rec {
  display: flex;
}