:root.theme-light {
  --bg-color: #fff1f7;
  --bg-image: url('../images/cover-image-light.png');
  --accent-color: #ff8dcb;
  --accent-color-transparent: rgb(50 49 45 / 0.4);
  --decor-color: #353430;
  --title-color: #ffc2e6;
  --text-color: #353430;
  --section-title-color: #353430;
  --title-decor-bg: #ff8dcb;
  --title-decor-color: #353430;
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --bg-image: url('../images/cover-image-light.png');
    --accent-color: #ff8dcb;
    --accent-color-transparent: rgb(50 49 45 / 0.4);
    --decor-color: #353430;
    --title-color: #ffc2e6;
    --text-color: #353430;
    --section-title-color: #353430;
    --title-decor-bg: #ff8dcb;
    --title-decor-color: #353430;
  }

  .header__rec {
    display: none;
  }
}